@import '../../utils/mixins.scss';

main {
  .userList_section {
    @include flexWrap;
    place-content: center;
    gap: 2.4rem;
    width: 100%;
  }

  h4 {
    margin: auto;
    overflow-wrap: break-word;
  }

  svg {
    height: 2.4rem;
    border: 0.01rem;
    width: 6.4rem;
  }
  .add_list_icon {
    color: $secondary-color;
  }
  
  .up_icon {
    color: $ligth-purple-color;
  }
}