@import '../../utils/mixins.scss';

main {
  .userList_section {
    @include flexWrap;
    place-content: center;
    gap: 2.4rem;
    width: 100%;
  }

  h4 {
    margin: auto;
    overflow-wrap: break-word;
  }
}