@import '../../utils/media_queries';
@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';


main {
  .list_content {
    @include flexCol;
    gap: 2rem;
    width: 100%;
  
    .EditList_form {
      @include flexCol;
      background-color: #fbfaf8;
      border-radius: 1.8rem;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      margin: auto;
      gap: 1rem;
      width: 80%;
      min-width: fit-content;
      max-width: 25rem;
    }
  
    .edit_btn {
      height: 1.4rem;
      border: 0.01rem;
      width: 4.8rem;
      text-align: center;
    }
  
    .action_btn {
      width: 60%;
      margin: auto;
    }
  
   .delete_btn {
      height: 1.8rem;
    }
  
    .list_header {
      @include flexCol;
      justify-content: center;
      align-items: center;
      background-color: #f7f2fd;
      padding: 1rem;
  
      .icons_List {
        display: flex;
        place-content: center;
        gap: 0.6rem;
        color: $gray-color;
      }
      .searchList_button {
        background-color: $secondary-color;
        color: $light-font;
      }
      h3 {
        color: $gray-color;
      }
    }
    .EditList_form {
      @include flexCol;
    }
    
    .danger_btn {
      border: solid 0.1rem $danger-color;
      color: $gray-color;
    }

    @include tablet {
      .list_header {
        flex-direction: row;
        place-content: center;
        width: 100%;
        padding: 2rem;
        background-color: #f7f2fd;
        padding: 0.4rem;
        color: #8c8a8c;
        gap: 1rem;
          
        .edit_btn {
          height: 1.4rem;
          border: 0.01rem;
          width: 4.8rem;
          text-align: center;
        }
  
        .searchList_button {
          background-color: $secondary-color;
          color: $light-font;
        }
  
        .delete_list {
          background-color: $danger-color;
        }
  
        .list_content {
          @include flexCol;
          gap: 2rem;
          width: 100%;
        }
      }
      section.listDetail_productsection {
        @include flexWrap;
        max-height: 20rem;
        width: 100%;
        gap: 1rem;
        justify-content: center;
      }
    }
  }

  .DetailproductList_section {
    @include flexCol;
    width: 100%;
    padding-left: 1rem;
    background-color: #fbfaf8;
    
    .listDetail_productsection {
      @include flexWrap;
      gap: 1.4rem;
      justify-content: center;
    }
  }
}