@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

main {
  margin-bottom: 0;
 
  .form_search {
    @include flexCol;

    .action_btn {
      width: 60%;
      margin: auto;
    }
  }
  .list_selection {
    @include flexWrap;
    gap: 0.6rem;
    place-content: center;
  }

  .allProducts {
    background-color: $purple-btn;
    width: 8rem;
  }
  
  .product_category {
    background-color: $gray-btn;
    width: 8rem;
  }

  p {
    font-size: 1.2rem;
    color: $gray-color;
    place-self: center;
    width: 100%;
  }
    
  .aside_plus_search {
    @include flexCol;
    flex-direction: column-reverse;
    width: 100%;
    background-color: #fbfaf8;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
    .productsFound_section {
      .result_products {
        @include flexWrap;
        justify-content: center;
      }
    }
    .aside_ListProducts {
      @include flexCol;
      background-color: #dbd9d9;
      gap: 1.4rem;
      padding: 2rem;
      min-height: 25rem;
      width: 100%;
      
      .user_list {
        @include flexWrap;
        gap: 0.4rem;
      }  
  
      .saveList_btn {
        background-color: $secondary-color;
        color: $light-font;
        width: 60%;
        margin: 0 auto;
        min-width: fit-content;
      }
    }
  
    .productsFound_section {
      @include flexCol;
      width: 100%;
      padding-left: 1rem;
      background-color: #fbfaf8;
      
      h3 {
        padding-top: 1rem;
        color: $purple-color;
      }
  
      .result_products {
        @include flexWrap;
      }
    }
  }

  @include tablet {

    .aside_plus_search {
      .result_products {
        @include flexWrap;
        justify-content: center;
      }

      .aside_ListProducts  {

        .saveList_btn {
          
          background-color: #2CA39F;
          color: #FBFAF8;
          width: 25%;
          margin: 0 auto;
          min-width: fit-content;
        }
      }
    }
  }
}