@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.form_search {
  display: flex;
  gap: 1rem;

  input {
    @include inputStyle;
  }
  .search_btn {
    width: 60%;
    margin: auto;
  }
}