@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.productSearch_card {
  @include cardStyle;
  max-width: 13rem;
  min-width: 10rem;
  padding: 1rem;
  
  .productSearch_layer {
    @include cardLayer;
  }

  .productSearch_img {
    width: fit-content;
    width: 60%;
    margin: auto;
    padding: 0.5rem;
  }

  p {
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
  }

  .productSearch_description {
    background-color: $primary-color;
    padding: 0.6rem;
    p {
      color: $light-font;
    }
  }
}