$primary-color: #a77952;
$secondary-color: #2CA39F;

$card-color: #FBFAF8;

$purple-color: #723799;
$purple-btn: #d8bdea;
$gray-btn: #e6e6e6;
$ligth-purple-color: #C951C5;
$light-font: #FBFAF8;
$gray-color: #8C8A8C;

$danger-color: #e27676;