@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.footer {
  min-height: 4.8rem;
  background-color: #f9dfc8;
  
    a {
      display: inline-block;
      padding: 2rem;
      color: #6a6969;
    }
}